* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: rgb(8, 8, 8);
  line-height: 1.5;
  padding: 2rem;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

.navbar {
  background-color: rgb(161, 172, 221);
  border: solid;
  border-bottom: none;
}

header .navbar ul {
  list-style: none;
  display: flex;
  justify-content: right;
  align-items: right;
  gap: 80px;
  padding-right: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: black;
  font-size: 25px;;
}

header .navbar li:hover {
  color:azure
}

.socials:hover {
  color:azure
}



section {
  display:flex;
  justify-content: center;
}

.hero {
  background-image: url("background.png");
  background-color: rgb(161, 172, 221);
  background-size: cover;
  border: solid;
  gap: 200px;
  padding: 100px;
  margin-bottom: 0;
}

.greeting {
  display: flex;
  font-size: 50px;
  align-items: center;
  color: rgb(39, 36, 36);
}

.photo {
  display: block;
  max-width: 300px;
  border-radius: 50%;
}

.heroText {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(161, 172, 221);
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  border-color: black;
  border: solid;
  justify-items: center;
  text-align: center;

}

.socials {
  min-width: 50px;
  font-size: 40px;
  position: relative;
  right: 213px;
}

#about {
  display:flex;
  flex-direction: column;
  padding-bottom: 80px;
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 80px;
  padding-left: 50px;
  background-color: bisque;
}

.about-text {
  display: flex;
  gap: 80px;
}

.sticky-img {
  width: 250px;
  margin-right: 30px;
}

#skills {
  display: flex;
  flex-direction: column;
   padding-top: 20px;
  padding-right: 50px;
  padding-bottom: 80px;
  padding-left: 50px;
  background-color: rgb(212, 179, 60);
}

#skills li {
  margin-bottom: 20px;;
}

.nav-btn {
  color: black;
  text-decoration: none;
}

#experience {
  display: flex;
  flex-direction: column;
  padding-bottom: 80px;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: bisque;
}

footer {
  display: flex;
  background-color: rgb(161, 172, 221);
  border: solid;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.foot {
  display: flex;
  position: relative;
  left: 20px;
}

.quote {
  font-size: 20px;;
  display: flex;
  text-align: center;
  justify-content: right;
  margin-right: 20px;
}


@media screen and (max-width: 1140px) {
  .about {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .skills {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .experience {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .education {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .projects {
    display: none;
  }
}

@media screen and (max-width: 300px) {
  .contact {
    display: none;
  }
}